.g-page(class=@state)
  .g-ctrl.one
  .g-ctrl.two
  .g-ctrl.three

  %img.g-logo(src="/img/googler.png")
  .g-box.clearfix
    .g-input.left
      %span.g-cursor= @value
    %button.g-button.left
      %span.g-search-icon
  .g-liky
    %a(href="#")= "Google Search"
    %a(href="https://likeastore.com/pulse")= "I'm Feeling Laiky"

  .g-results
    -each @googleResults, ->
      .g-item
        %h3= @title
        .g-item-link= @link
        .g-item-desc= @text

  .ls-results.animated.bounceInDown
    %img.ls-header-logo(src="/img/header-logo.png" width="100%")
    -each @likeastoreResults, ->
      .g-item
        %img.ls-icon(src="/img/#{@type}.png" width="12")
        %h3= @title
        .g-item-link= @link
        .g-item-desc= @text
